@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$black: #151515;
$white: #fefefe;
$purple: rgb(194, 108, 210);
$pink: rgb(241, 123, 165);
$yellow: rgb(254, 254, 81);
$blue: rgb(30, 195, 196);

$radius: 0;


$font: 'Montserrat';