.about {
    @include flex(column, center, center);
    @include size(100%, 100%);
    // padding-bottom: 80px;

    @media (max-width: 575.98px) {
      padding-bottom: 50px;
    }

    * {
      &::selection {
          background-color: $pink;
      }
    }

    &__title {
      padding: 10px 15px;
      color: $black;
      font-family: $font;
      background: linear-gradient(45deg, $pink, $purple, $yellow);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      font-weight: bold;
      font-size: 4rem;
      text-align: left;
      text-align: center;
      transform: rotate(1deg);
      margin: 0 0 15px 0;

      @media (max-width: 575.98px) {
        margin-bottom: 15px;
      }
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    &__logo {
      // margin: 15px 0;
      max-width: 300px;
    }

    &__description {
      max-width: 700px;
      color: $white;
      font-size: 1.2rem;
      font-family: $font;

      .link {
        font-size: 1.2rem;
      }

      @media (max-width: 575.98px) {
        font-size: 1rem;

        .link {
          font-size: 1rem;
        }
      }

      p {
        margin: 0;

        &:last-child {
            margin-bottom: 10px;
        }
      }
    }
  }

  .link {
    font-family: $font;
    font-weight: bold;
    color: $blue;
    font-size: 1rem;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .2s all ease-in-out;

    &:focus,
    &:hover,
    &:active {
      color: $pink;
    }
  }