.grid-item {
    @include flex(column, flex-start, center);
    position: relative;
    width: 100%;
    max-height: 451px;

    @media (max-width: 575.98px) {
        height: 100%;
        max-height: 500px;
    }

    &__placeholder {
        @include flex(column, center, center);
        @include size(100%, 446px);
        position: absolute;
        top: 0;
        left: 0;
        background-color: $black;
        opacity: 1;
        z-index: 4;

        svg {
            opacity: .4;
        }
    }

    &__hover {
        position: absolute;
        top: 0;
        @include size(100%, 100%);
        @include flex(column, center, center);
        background: transparentize($purple, 0.4);
        z-index: 8000;
        opacity: 0;
        cursor: pointer;
        transition: all .2s ease-in-out;

    }

    @media (min-width: 768px) {
        &:focus,
        &:hover {
            .grid-item__hover {
                opacity: 1;
            }
        }
    }
}

.icon__expand {
    @include size(50px, 50px);
    fill: $white;
}