.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include size(100%, 100%);
    box-sizing: border-box;
    overflow: auto;
    padding-right: 5px;

    @media (max-width: 575.98px) {
        grid-template-columns: 1fr !important;
        padding-right: 0;
        overflow-y: auto;

        &::-webkit-scrollbar { width: 0 !important; }
    }

    &::-webkit-scrollbar { width: 1.25rem !important }

    &::-webkit-scrollbar-track {
        background-color: lighten($black, 5%);
      }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(135deg, $purple, $blue, $purple);
        // border-radius: 1rem;
        box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
      }

      @media (max-width: 575.98px) {
        &::-webkit-scrollbar { width: 0 !important; opacity: 0; }
      }


    img {
        @include size(100%, 100%);
        object-fit: cover;
        cursor: pointer;
        z-index: 10;
    }

    &__placeholder {
        font-family: $font;
        color: white;
        font-size: 1rem;
        margin: 0;
    }

    &--motion,
    &--web {
        grid-template-columns: 1fr 1fr;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
}