.home {
    @include flex(column, center, center);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &__description{
      color: white;
      font-family: $font;
      max-width: 500px;
      margin: 7px 0 0 0;
    }
}

.logo__container {
  @include flex(row, center, center);
  width: 100%;
  padding: 10px 0;
}

.logo {
  max-width: 500px;
  width: 100%;
  fill: white;
  z-index: 3;
}