.home {
    @include flex(column, center, center);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    @media (max-width: 575.98px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    * {
      &::selection {
          background-color: $purple;
      }
    }

    &__description{
      color: white;
      font-family: $font;
      font-size: 1.2rem;
      width: 100%;
      max-width: 500px;
      margin: 7px 0 0 0;

      .link {
        font-size: 1.2rem;
      }
    }

    &__cta-btn {
      background-color: transparent;
      border: 3px solid $pink;
      color: white;
      font-family: $font;
      max-width: 216px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 20px;
      margin: 20px 0 10px 0;
      transition: all .2s ease-in-out;

      &:focus,
      &:hover,
      &:focus-within {
        background-color: $blue;
        border-color: $blue;
      }
    }
}

.logo__container {
  @include flex(row, center, center);
  width: 100%;
  padding: 10px 0;
}

.logo {
  max-width: 500px;
  width: 100%;
  z-index: 3;
}