.main {
    position: relative;
    @include flex(column, flex-start, center);
    padding: 30px 20px;
    padding-bottom: 0;
    border: 3px solid $purple;
    background-color: #151515;
    border-radius: $radius;
    // min-height: 312px;
    // min-width: 570px;
    box-sizing: border-box;
    width: 100%;

    // transform: scaleX(.5);
    z-index: 1;
    transition: all 0.466s ease-in-out, min-height 0.466s ease-in-out;

    &--init {
      padding: 0;
      border-color: transparent !important;
      min-height: 0;
      overflow: hidden;
    }

    &__logo {
      @include flex(row, center, center);
      width: 100%;
      // min-width: 1200px;
      // border-left-width: 6px;
      // border-right-width: 6px;
    }

    &__content {
      min-height: 100%;
      max-height: 100%;
      overflow: hidden;
      padding-top: 80px;
      background-color: transparentize(#151515, 0.3);
    }

    &__home {
      // height: 100%;
      border-left-color: $blue;
      border-right-color: $yellow;
      border-top-color: $pink;
      border-bottom-color: $purple;
    }
  }


  .content {
    @include flex(column, flex-start, flex-start);
    @include size(100%, 100%);
    // margin-top: 80px;
    transition: all 0.2s ease-in-out;

    &--show {
      opacity: 1;
    }
  }