.nav-logo__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.175s ease-in-out;
}

.nav-logo {
    @include flex(column, center, center);
    @include size(60px, 60px);
    position: relative;
    cursor: pointer;
    transition: opacity 0.175s ease-in-out, transform 0.2s ease;
    transform-style: preserve-3d;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        @include size(100%, 100%);
        background: url('/icons/n-logo.svg') no-repeat center;
        background-size: contain;
        transform: translateZ(30px);
    }

    &::after {
        position: absolute;
        top: 100%;
        left: 0;
        content: '';
        @include size(100%, 100%);
        background: url('/icons/home-icon.svg') no-repeat center;
        background-size: 75%;
        transform: rotateX(-90deg) translateZ(-30px);
    }

    @media (min-width: 768px) {
        &:focus,
        &:hover,
        &:active {
            transform: rotateX(90deg);
        }
    }
}