.nav-links {
    display: flex;

    li {
        &:first-child {
            button {
                &::after {
                    background-color: $blue;
                }
            }
        }

        &:nth-child(2) {
            button {
                &::after {
                    background-color: $purple;
                }
            }
        }

        &:nth-child(3) {
            button {
                &::after {
                    background-color: $yellow;
                }
            }
        }

        &:last-child {
            button {
                &::after {
                    background-color: $pink;
                }
            }
        }
    }

    button {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 0;
        overflow: hidden;
        border-right: 0;
        border-top: 0;
        z-index: 1;

        span {
            position: relative;
            z-index: 10;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            height: 100%;
            z-index: 0;
            transition: all 0.2s ease-in-out;
        }

        &:focus,
        &:hover {

            &::after {
                transform: scaleY(0.2);
            }
        }
    }
}

.btn {
    position: relative;
    background: $black;
    border: 3px solid $yellow;
    color: white;
    min-width: 90px;
    font-size: 1rem;
    font-family: $font;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: 0;
    z-index: 5;

    &:hover {
      border-color: $pink;
    }
  }