$colors: (
	rgb(194, 108, 210),
	rgb(30, 195, 196),
	rgb(254, 254, 81),
	rgb(241, 123, 165)
);

$progress: 0;
@each $color in $colors {
	$progress: $progress + 1;
	.color-#{$progress} {
		border-color: $color !important;
	}
}

.color-1 {
    border-color: 	rgb(194, 108, 210);
}

.shape-container {
	position: absolute;
	display: block;
	transform: translate(0,0);
    transition: all 0.5s ease-in-out;
}

.shape {
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.233s ease-in-out;
}

.square {
	width: 50px;
	height: 50px;
	border: 3px solid;
	border-radius: $radius;
	display: inline-block;
    position: absolute;
    background-color: $black;
    z-index: 1;
}

.circle {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 3px solid;
    display: inline-block;
    background-color: $black;
    z-index: 1;
}

.zig-zag {
	display: inline-block;
	&:before,
	&:after{
		width: 15px;
		height: 15px;
		border-left: 3px solid;
		border-top: 3px solid;
		border-color: inherit;
		border-radius: $radius 0 0 0;
		display: inline-block;
		content: '';
		transform: rotate(45deg);
        z-index: 0;
	}
	&:after {
		margin-left: 3px;
	}
}

.half-circle {
	width: 24px;
    height: 12px; /* as the half of the width */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: $black;
    border: 4px solid;
    border-bottom: 0;
		box-sizing: border-box;
	display: inline-block;
    z-index: 0;
}

.triangle {
	width: 100px;
	height: 48px;
	overflow: hidden;
	border-top: 3px solid;
    border-radius: $radius $radius 0 0;
	display: inline-block;
    z-index: 1;

	&:before {
        content: '';
        background-color: $black;
		display: block;
		border-left: 3px solid;
		border-bottom: 3px solid;
		border-color: inherit;
		border-radius: 0 0 0 $radius;
		height: 67px;
		width: 67px;
		transform: rotate(-45deg) translateX(50%) translateY(-14px);
	}
}

.animate--jump {
    transform: scale(1.25) !important;
}

@keyframes jump {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}