.socials {
    @include flex(row, center, center);
    margin: 0;
    padding: 10px 0;
    list-style: none;

    li {
      margin: 0 7px;

      .social {
        width: 40px;
        fill: white;
        transition: all 0.2s ease-in-out;
      }

      &:first-child {
        .social {
          &:focus,
          &:hover {
            fill: #e1306c;
          }
        }
      }

      &:nth-child(2) {
        .social {
          &:focus,
          &:hover {
            fill: #1da1f2;
          }
        }
      }

      &:nth-child(3) {
        .social {
          &:focus,
          &:hover {
            fill: #3b5998;
          }
        }
      }

      &:nth-child(4) {
        .social {
          &:focus,
          &:hover {
            fill: #ff0000;
          }
        }
      }

      &:nth-child(5) {
        .social {
          &:focus,
          &:hover {
            fill: #e68523;
          }
        }
      }
    }
  }