@import './styles/base';

ul,li {
  list-style: none;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $black;
  overflow: hidden;
  // text-align: center;
}

.app-inner {
  max-width: 1200px;
  width: 100%;
}

.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  border: 3px solid $purple;
  background: #151515;
  border-radius: $radius;
  height: 162px;
  min-width: 506px;
  z-index: 1;
  transition: all 0.466s ease-in-out;

  &__home {
    height: 162px;
  }

  &__graphics {
    height: 300px;
  }

  &__web {
    height: 400px;
  }

  &__contact {
    height: 200px;
  }
}

.logo {
  width: 500px;
  fill: white;
  z-index: 3;

  @media (max-width: 768px) {
    width: 250px;
  }
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.btn {
  position: relative;
  background: $black;
  border: 3px solid $yellow;
  color: white;
  min-width: 90px;
  font-size: 1rem;
  font-family: $font;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 0;
  z-index: 5;

  &:hover {
    border-color: $pink;
  }
}