@import './styles/base';

ul,li {
  list-style: none;
}

h1 {
  color: $black;
  font-family: $font;
  background-color: white;
  padding: 7px;
  text-align: center;
  transform: rotate(3deg);
  transition: all .2s ease-in-out;
  min-width: 144px;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  overflow: hidden;
  // text-align: center;
}

.app__inner {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  border: 3px solid $purple;
  background-color: #151515;
  border-radius: $radius;
  min-height: 312px;
  box-sizing: border-box;
  // min-width: 506px;
  width: 100%;
  transform: scaleX(.5);
  z-index: 1;
  transition: all 0.466s ease-in-out, min-height 0.466s ease-in-out;

  &--init {
    padding: 0;
    border-color: transparent !important;
    min-height: 0;
    overflow: hidden;
  }

  &__logo {
    width: 100%;
    display: flex;
    border-left-width: 6px;
    border-right-width: 6px;
    justify-content: center;
    align-items: center;
  }

  &__socials {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px 0;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    transform: scaleX(2);

    li {
      margin: 0 7px;

      .social {
        width: 40px;
        fill: white;
        transition: all 0.2s ease-in-out;
      }

      &:first-child {
        .social {
          &:focus,
          &:hover {
            fill: #e1306c;
          }
        }
      }

      &:nth-child(2) {
        .social {
          &:focus,
          &:hover {
            fill: #1da1f2;
          }
        }
      }

      &:nth-child(3) {
        .social {
          &:focus,
          &:hover {
            fill: #3b5998;
          }
        }
      }

      &:nth-child(4) {
        .social {
          &:focus,
          &:hover {
            fill: #ff0000;
          }
        }
      }

      &:nth-child(5) {
        .social {
          &:focus,
          &:hover {
            fill: #e68523;
          }
        }
      }
    }
  }

  &__content {
    // margin: 100px 0 1em 0;
    min-height: 100%;
    max-height: 100%;
    transform: scaleX(1);
    background-color: transparentize(#151515, 0.3);
  }

  &__home {
    height: 162px;
  }
}

.content {
  margin-top: 100px;
  // border-top: 3px solid transparent;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  opacity: 0;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s ease-in-out;
}

.draw {
  transition: color 0.25s;

&::before,
&::after {
  // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

// This covers the top & right borders (expands right, then down)
&::before {
  top: 0;
  left: 0;
}

// And this the bottom & left borders (expands left, then up)
&::after {
  bottom: 0;
  right: 0;
}

&:hover {
  color: $pink;
}

// Hover styles
&:hover::before,
&:hover::after {
  width: 100%;
  height: 100%;
}

&:hover::before {
  border-top-color: $pink; // Make borders visible
  border-right-color: $pink;
  transition:
    width 0.25s ease-out, // Width expands first
    height 0.25s ease-out 0.25s; // And then height
}

&:hover::after {
  border-bottom-color: $pink; // Make borders visible
  border-left-color: $pink;
  transition:
    border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
    width 0.25s ease-out 0.5s, // And then exanding width
    height 0.25s ease-out 0.75s; // And finally height
}
}

.meet {

  &:hover {
    color: $yellow;
  }

  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $yellow;
    border-right-color: $yellow;
  }

  &:hover::after {
    border-bottom-color: $yellow;
    border-left-color: $yellow;
    transition: // Animate height first, then width
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }

}

.home {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

.logo-container {
  width: 100;
  padding: 10px 0;
}

.logo {
  width: 500px;
  fill: white;
  z-index: 3;
  transform: scaleX(2);

  @media (max-width: 768px) {
    width: 250px;
  }
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 0;
  transition: opacity .2s ease-in-out;
}

.btn {
  position: relative;
  background: $black;
  border: 3px solid $yellow;
  color: white;
  min-width: 90px;
  font-size: 1rem;
  font-family: $font;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 0;
  z-index: 5;

  &:hover {
    border-color: $pink;
  }
}


.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.remove {
  display: none;
}

.bg {

  &--blue {
    background-color: $blue;
  }

  &--purple {
    background-color: $purple;
  }

  &--yellow {
    background-color: $yellow;
    color: $black;
  }

  &--pink {
    background-color: $pink;
  }
}