@import './styles/base';

ul,li {
  list-style: none;
}

h1 {
  color: $black;
  font-family: $font;
  background-color: white;
  padding: 7px;
  text-align: center;
  transform: rotate(3deg);
  transition: all .2s ease-in-out;
  min-width: 144px;
}

.app {
  position: relative;
  @include flex(row, center, center);
  @include size(100vw, 100vh);
  background-color: $black;
  overflow: hidden;

  &__inner {
    max-width: 1400px;
    @include size(100%, 100%);
    @include flex(column, center, center);
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.remove {
  display: none;
}

.bg {

  &--blue {
    background-color: $blue;
  }

  &--purple {
    background-color: $purple;
  }

  &--yellow {
    background-color: $yellow;
    color: $black;
  }

  &--pink {
    background-color: $pink;
  }
}